@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-black: #0a0a0a;
  --color-white: #fff5ee;
  --color-seashell: #f7e7ce;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fff5ee;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a0a0a;
}

body {
  background-color: #fff5ee;
}

/* shadow styles for about cards */

.build-shadow {
  box-shadow:
    0 4px 20px 0 rgba(97, 218, 251, 0.4),
    0 4px 40px 0 rgba(100, 108, 255, 0.3);
}

.types-shadow {
  box-shadow:
    0 4px 20px 0 rgba(49, 120, 198, 0.4),
    0 4px 40px 0 rgba(49, 120, 198, 0.3);
}

.styles-shadow {
  box-shadow:
    0 4px 20px 0 rgba(56, 189, 248, 0.4),
    0 4px 40px 0 rgba(107, 33, 168, 0.3);
}
.routing-data-shadow {
  box-shadow:
    0 4px 20px 0 rgba(183, 44, 44, 0.4),
    0 4px 40px 0 rgba(0, 0, 0, 0.3);
}
.zustand-shadow {
  box-shadow:
    0 4px 20px 0 rgba(255, 145, 83, 0.4),
    0 4px 40px 0 rgba(26, 26, 26, 0.3);
}

/* styles for footer bg text */
.textShadow3D {
  text-shadow:
    0px 1px 1px,
    0px 2px 1px,
    0px 3px 1px,
    0px 4px 1px,
    0px 5px 1px,
    0px 6px 1px,
    0px 18px 6px rgba(16, 16, 16, 0.6),
    0px 22px 10px rgba(16, 16, 16, 0.4),
    0px 25px 35px rgba(16, 16, 16, 0.4),
    0px 30px 60px rgba(16, 16, 16, 0.6);
}

.textShadow3DRight {
  text-shadow:
    -1px 1px 1px,
    -2px 2px 1px,
    -3px 3px 1px,
    -4px 4px 1px,
    -5px 5px 1px,
    -6px 6px 1px,
    -6px 18px 6px rgba(16, 16, 16, 0.6),
    -8px 22px 10px rgba(16, 16, 16, 0.4),
    -10px 25px 35px rgba(16, 16, 16, 0.4),
    -12px 30px 60px rgba(16, 16, 16, 0.6);
}

.textShadow3DRightHalf {
  text-shadow:
    0px 1px 1px,
    0px 2px 1px,
    -2px 3px 1px,
    -2px 4px 1px,
    -4px 5px 1px,
    -4px 6px 1px,
    -2px 18px 6px rgba(16, 16, 16, 0.6),
    -4px 22px 10px rgba(16, 16, 16, 0.4),
    -6px 25px 35px rgba(16, 16, 16, 0.4),
    -8px 30px 60px rgba(16, 16, 16, 0.6);
}

.textShadow3DLeft {
  text-shadow:
    1px 1px 1px,
    2px 2px 1px,
    3px 3px 1px,
    4px 4px 1px,
    5px 5px 1px,
    6px 6px 1px,
    6px 18px 6px rgba(16, 16, 16, 0.6),
    8px 22px 10px rgba(16, 16, 16, 0.4),
    10px 25px 35px rgba(16, 16, 16, 0.4),
    12px 30px 60px rgba(16, 16, 16, 0.6);
}

.textShadow3DLeftHalf {
  text-shadow:
    0px 1px 1px,
    0px 2px 1px,
    2px 3px 1px,
    2px 4px 1px,
    4px 5px 1px,
    4px 6px 1px,
    2px 18px 6px rgba(16, 16, 16, 0.6),
    4px 22px 10px rgba(16, 16, 16, 0.4),
    6px 25px 35px rgba(16, 16, 16, 0.4),
    8px 30px 60px rgba(16, 16, 16, 0.6);
}

.gradientText {
  background-image: radial-gradient(
    circle 506px at 50.6% 16.5%,
    rgba(239, 252, 250, 1) 5.5%,
    rgba(154, 192, 206, 1) 100.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientShadow {
  background-image: radial-gradient(
    circle 506px at 50.6% 16.5%,
    rgba(80, 110, 120, 1) 5.5%,
    rgba(30, 50, 60, 1) 100.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
